@import '../abstracts/variables';

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom : 1px;
}

.paper {
  height: 100%;
  width : 100%;
  max-width: 500px;
  display : flex;
  flex-direction: column;
  padding : 10px 10px 0 10px;
  &:focus {
    outline: 0;
  }
}

.modal-button-box {
  padding-top: 2%;
  margin-bottom: 2%;
}

.menu-button  {
  height : 100/4;
  background-color : rgba(255, 255, 255, 0);
  border : none;
  width : 100%;
  color: white;
  text-decoration: none;
  outline : none;
  cursor : pointer;
  &:hover  { color : #dec11e}
  &:active  { transform : translateY(1px)}
}

.auto-button  {
  width : 50px;
  height : 50px;
  border-radius: 50%;
  background: $custom-theme;
  box-shadow: $neum-out-shadow;
  margin: auto;
  display : inline-flex;
  justify-content : center;
  &:hover  {
    box-shadow: $neum-in-shadow;
  }
  &:active {
    box-shadow: none;
  }
  .MuiButton-root:hover {
    background-color: rgba(255, 255, 255, 0) !important;
  }
}

.auto-text  {
  color : $font-color;
  margin: auto;
}

.auto-icon  {
  color : $default-icon
}