@import '../abstracts/variables';
@import '../abstracts/mixins';

.slider-root {
  width: auto;
  .slider{
    font-size : 0.9em;
  }
  .explanation {
    padding: 3% 0;
  }
}
.off-chip {
  @include handleChipColor(#ff6a6a)
}

.on-chip {
  @include handleChipColor(#409640)
}

.title {
  font-weight : 1000;
  margin-bottom : 10%;
  color:white
}