@import '../abstracts/variables';
@import '../abstracts/mixins';

.foreground {
  @include dashboardComponent();
  position : relative;
  height : 100%;
  width : 100%;
  padding : 3px;
  background : $custom-theme;
  box-shadow: $neum-out-shadow;
}

.title  {
  color : $font-color;
  text-align : center;
  font-weight: bold;
  padding: 1%;
  font-size : 1em
}

.update-info  {
  margin : 0;
  padding: 1%;
  border-top-width : 1px;
  border-top-style : solid;
  border-top-color : $custom-theme;
  text-align : left;
  vertical-align : middle;
}

.update-time  {
  display : inline;
  vertical-align : middle;
  font-size : 0.7em;
  font-weight : bold;
  color : $font-color;
}