@import '../abstracts/variables';
@import '../abstracts/mixins';

.switch-controllers {
  @include dashboardComponent();
  width: 100%;
  display: grid;
  padding : 5% 5% 1% 5%;
}

.control-form {
  margin : auto;
}

.display-power-on {
  padding-left : 10px;
  width : 40px;
}

.display-power-off {
  padding-left : 10px;
  width : 40px;
  color : $button-off
}

// TODO : 섹션 별로 기계 수 체크하여 변수로 넣기
.switch-wrapper {
}

.icons {
  color : white;
  text-align:left;
  margin:auto;
  display:inline;
  width:calc(100%/4);
}

.power-button {
  display:inline-flex;
  justify-content:flex-end;
  width:calc(100%/4);
  margin:auto;
  text-align:center;
}

.default-icon {
  color: $default-icon
}

.auto-checker-icon {
  height : 1.1em;
  width : 1.3em;
  margin : auto;
  vertical-align: middle;
  text-align:center;
  color: $font-color;
  padding: 1px;
}

.cooler-icon {
  @include iconColor($cooler-icon)
}

.heater-icon {
  @include iconColor($heater-icon)
}

.waterpump-icon {
  @include iconColor($waterpump-icon)
}

.led-icon {
  @include iconColor($led-icon)
}

.current-icon {
  height : 1.5em;
  width : 1.5em;
  margin : auto;
  vertical-align: middle;
  text-align:center;
  padding: 1px;
}

.checkers  {
  margin: auto;
}

