$custom-theme: #d9d8d2;
$neum-in-shadow: inset 6px 6px 12px #a5a4a0, inset -6px -6px 12px #ffffff;
$neum-out-shadow: 6px 6px 12px #a5a4a0, -6px -6px 12px #ffffff;
$s1_1: #8C8A7A;
$s1_2: #7A828C;
$s1_3: #6F6C8C;
$button-on : #61564E;
$button-off : #474346;
$cooler-icon : #5a91ff;
$heater-icon : #f28482;
$waterpump-icon : #99C1DE;
$led-icon : #F6BD60;
$roofFan-icon : #a37ee7;
$fan-icon : #84A59D;
$timer-icon : #f8bb14;
$default-icon : #595957;
$font-color : #595957;
$graphGrid-color : #595957;
$current : #ffe180;
$drawerWidth : 240;
$component-radius: 20px;
