@import '../abstracts/variables.scss';

.spin {
    animation: spin 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color : $fan-icon;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}